
# directories (by name)

build/

ideas/

Debug/
DebugMt/
Debug Multithreaded/
Debug Multithreaded DLL/
Unicode Debug/
Unicode Debug Multithreaded/
Unicode Debug Multithreaded DLL/
Release/
ReleaseMt/
Release Multithreaded/
Release Multithreaded DLL/
Unicode Release/
Unicode Release Multithreaded/
Unicode Release Multithreaded DLL/

ipch/

Win32/
x64/

# directories (by pattern)

/_internal/

/doc/

/ipch/

# files (by name)

list_changes.cmd

sh.exe.stackdump

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.idb
*.ilk
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.out
*.pch
*.pdb
*.res
*.sdf
*.sbr
*.scc
*.so
*.suo
*.swp
*.tlog
*.unsuccessfulbuild

*.vcproj*.user
*.vcxproj*.user

