
# directories (by name)

ideas/

# directories (by pattern)

# files (by name)

list_changes.cmd

# files (by pattern)

*~
*.a
*.app
*.dll
*.dylib
*.exe
*.gch
*.ilk
*.lib
*.ncb
*.o
*.obj
*.opensdf
*.out
*.pch
*.pdb
*.sdf
*.sbr
*.scc
*.so
*.swp
*.vcproj*.user
*.vcxproj*.user

